body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  height: 100vh;
}


.globeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.globe {
  background: url(https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/vhp_img5720.jpg) center/cover no-repeat;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.globeText {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.bottomSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #f0f0f0;
}

.studentSection {
  text-align: center;

  padding: 20px;
}

.pS {
  text-align: left;
}

.pT {
  text-align: right;
}

.teacherSection {
  text-align: center;
  padding: 20px;
}
